* {
  box-sizing: border-box;
}
body {
  position: relative;
  width: 375px;
  height: 5410px;
  background: #f7f7f9;
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
  position: absolute;
  width: 462px;
  height: 587.15px;
  left: -34px;
  top: 104px;
  position: absolute;
  width: 462px;
  height: 628px;
  left: -34px;
  top: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 716px;
  left: calc(50% - 375px / 2);
  top: 92px;
  background: url("header background shape-desktop.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
}

#home_presentation {
  background-image:
    url("images/Ellipse 11.png"),
    url("images/Rectangle 4.png"),
    url("images/Ellipse\ 3.png"),
    url("images/Ellipse\ 8.png"),
    url("images/Ellipse\ 5.png"),
    url("images/Rectangle\ 7.png"),
    url("images/Ellipse 12.png"),
    url("images/Ellipse 4.png"),
    url("images/Rectangle\ 5.png"),
    url("images/Ellipse\ 13.png"),
    url("images/Ellipse\ 15.png");
  background-position:
    19px 79px,
    294px 68px,
    323px 102px,
    214px 110px,
    125px 106px,
    127px 98px,
    370px 385px,
    290px 509px,
    240px 507px,
    357px 392px,
    106px 497px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.form-section {
  background-color: #fff;
  background-image:
    url("images/ep1.svg"),
    url("images/rp1.svg"),
    url("images/ep2.svg"),
    url("images/rp2.svg"),
    url("images/ep3.svg"),
    url("images/header-shapes mobile.png");
  background-repeat: no-repeat;
  background-position:
    78% 91%,
    86% 90%,
    99.7% 9.2%,
    99.5% 6.2%,
    41% 7.06%,
    0;
  background-size: auto, auto, auto, auto, auto, cover;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon {
  list-style-type: none;
  margin-right: 20px;
}

.form-section {
  background-color: #fff;
  background-image:

  background-position:
    
