* {
  box-sizing: border-box;
}
body {

  /* Template 1-Mobile-Main */


 position: relative;
 width: 375px;
 height: 5410px;

 /* Neutrals/N10 */

 background: #F7F7F9;
}

#home_presentation {
  background-image:
    url("images/header-shapes mobile.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

.short-presentation {
  /* Primary Text */
width: 327px;
height: 150px;

/* Header / 2 */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
/* or 130% */

display: flex;
align-items: center;

/* Neutrals/N800 */

color: #172B4D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

 .p {

width: 327px;
height: 146px;

/* Body / 2 */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

/* Neutrals/N600 */

color: #344563;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}

h4 {

  /* LET’S CONNECT */
width: 117px;
height: 24px;

/* Body / 2 - Bolder */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Primary/B300 */

color: #7F8CFF;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon {
  list-style-type: none;
  margin-right: 20px;
}

.form-section {
  background-color: #fff;
  background-image:
}

.hamburger {
  left: -34px;
  top: 104px;
  top: 92px;

  /* Base / 300 - Tertiary

  For small, less significant text and placeholders.
  */
  border: 2px solid #ACB7C3;

}

.logo {

width: 76px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
text-align: center;

/* Primary/B400 */

color: #6070FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.home {
  position: relative;
width: 1440px;
height: 5125px;

/* Theme 1 / Neutrals 10 */

background: #F4F5F7;

}
