* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 375px;
  height: 5410px;
  background: #f7f7f9;
}

#home_presentation {
  background-image: url("images/header-shapes mobile.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.short-presentation {
  font-family: 'Poppins';font-size: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.p {
  width: 327px;
  height: 146px;
  font-family: 'Poppins';font-size: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

h4 {
  width: 117px;
  height: 24px;
  font-family: 'Poppins';font-size: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#contact ul {
  font-family: 'Poppins';
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon {
  list-style-type: none;
  margin-right: 20px;
}

.form-section {
  background-color: #fff;
}
#nav {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#nav nav:hover {
  cursor: pointer;
}

.internal-link {
  display: flex;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
 justify-content: space-between;
}

.home {
  position: relative;
  width: 1440px;
  height: 5125px;

}
